.heading {
    display: flex;
    justify-content: center;
    color: rgb(11, 41, 239);
    border-bottom: 1px solid green;
    font-size: 2em;

}

.flex-container {
    font-size: 1em;
    color: white;
}

.flex-items {
    font-size: 1em;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: #3692f3;
}

.flex .item {
    display: flex;
    width: 20%;
    height: 50px;
    background-color: #cae9ed;
    align-items: center;
    justify-content: center;
}

.flex .item a {
    color: blue;
    text-decoration: none;
    transition: font .5s cubic-bezier(.33, 1.57, .73, -0.36);
}

.flex .item a:hover {
    font-size: 35px;
}